.reviewSectionTitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  margin: 0 auto 24px;
  max-width: 336px;
}

.reviewSectionDescription {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-align: center;
  margin: 0 auto 40px;
  opacity: 0.4;
  max-width: 336px;
}

.reviewsItem {
  border-radius: 24px;
  background-color: var(--main-block-bg);
  padding: 32px 8px;
  min-height: 306px;
}

@media screen and (min-width:768px) {
  .reviewSectionTitle {
    font-size: 48px;
    max-width: 704px;
  }

  .reviewSectionDescription {
    font-size: 14px;
    line-height: 1.28;
    max-width: 570px;
    margin-bottom: 76px;
  }
}

@media screen and (min-width:1280px) {

  .reviewsItem {
    padding: 32px 28px;
  }
}

@media screen and (min-width:1440px) {
  .reviewsItem {
    padding: 32px 36px;
  }
}