.yachtsImage {
  width: 100%;
  max-width: 302px;
  height: 240px;
  margin-bottom: 32px;
}

.yachtsItemTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--card-border-color);
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.yachtsItemTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--main-dark-text-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 148px;
}

.yachtsItemLabel {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-dark-color);
  opacity: 0.4;
}

.yachtsItemDescriptionList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.yachtsItemDescriptionItemSubTitle {
  p {
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-dark-color);
    opacity: 0.4;
  }
}

.yachtsItemDescriptionItemValues {
  p {
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--secondary-dark-color);
  }
}

@media screen and (min-width:768px) {
  .yachtsImage {
    max-width: 304px;
    height: 268px;
  }

  .yachtsItemTitle {
    font-size: 16px;
    line-height: 1.2;
  }

  .yachtsItemLabel {
    font-size: 14px;
    line-height: 1.18;
  }
}

@media screen and (min-width:1280px) {
  .yachtsImage {
    max-width: 346px;
  }

  .yachtsItemTitle {
    max-width: 178px;
  }
}

@media screen and (min-width:1440px) {
  .yachtsImage {
    max-width: 360px;
  }
}