.yachtsTitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 40px;
  max-width: 320px;
}

.yachtsList {
  display: flex;
  margin-bottom: 40px;
}

.yachtsItem {
  border-radius: 24px;
  background-color: var(--main-block-bg);
  padding: 16px;
  width: 100%;
  max-width: 336px;
}

.yachtsLink {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;

  border: 1px solid var(--button-border-main-color);
  border-radius: 15px;

  max-width: 140px;
  padding: 16px 0;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all var(--transition);

  &:hover,
  &:focus {
    color: var(--link-dark-text-hover);
    background-color: var(--link-light-bg-hover);
  }
}

@media screen and (min-width:768px) {
  .yachtsTitle {
    font-size: 48px;
    max-width: 646px;
    margin: 0 auto 76px;
  }

  .yachtsList {
    margin-bottom: 50px;
  }


  .yachtsLink {
    font-size: 18px;
    line-height: 1.1;
    max-width: 180px;
  }
}

@media screen and (min-width:1280px) {
  .yachtsItem {
    max-width: 378px;
  }
}

@media screen and (min-width:1440px) {
  .yachtsItem {
    min-width: 392px;
  }

  .swiperContainer {
    display: flex;
    justify-content: center;
    max-width: 1240px;
    margin: auto;
  }
}