.footerContainer {
  border-radius: 24px 24px 0 0;
  background-color: var(--secondary-block-bg);
  padding: 40px 30px 20px;
}

.logoNavLinksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 80px;
}

.logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
}

.navMenuLinkList {
  display: flex;
  align-items: center;
  gap: 4px;
}

.navMenuLink {
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 14px 0;
  border-radius: 8px;
  background-color: var(--card-border-secondary-color);
  min-width: 66px;
  height: 40px;
  transition: all var(--transition);

  &:hover,
  &:focus {
    color: var(--button-main-text-hover);
    background-color: var(--button-main-bg-hover);
  }
}

.navMenuSocialList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0 auto 40px;
}

.navMenuSocialLink {

  &:hover,
  &:focus {
    .navMenuSocialIcon {
      fill: var(--icon-light-color-hover)
    }
  }
}

.navMenuSocialIcon {
  transition: all var(--transition);
  fill: var(--icon-light-color)
}

.footerMainText {
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  margin: 0 auto 82px;
  max-width: 280px;
}

.yearPoliceContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footerYearText,
.footerPoliceLink {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--police-text-color);
}

@media screen and (min-width:768px) {
  .logoNavLinksContainer {
    margin-bottom: 96px;
  }

  .logo {
    font-size: 20px;
  }

  .navMenuLink {
    min-width: 90px;
  }

  .navMenuSocialList {
    margin: 0;
  }

  .footerMainText {
    font-size: 32px;
    margin-bottom: 100px;
    max-width: 640px;
  }

  .yearPoliceContainer {
    gap: 32px;
  }

  .footerYearText,
  .footerPoliceLink {
    font-size: 14px;
    line-height: 1.18;
  }
}

@media screen and (min-width:1280px) {
  .footerMainText {
    max-width: 694px;
  }
}