.rentTitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.rentTitleFormContainer {
  margin: 0 auto;
  min-width: 474px;
}

.rentImage {
  border-radius: 24px;
}

@media screen and (min-width:768px) {
  .rentTitle {
    font-size: 28px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width:1280px) {
  .rentFormContainer {
    display: flex;
    align-items: start;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

}

@media screen and (min-width:1440px) {}